@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  /* font-family: "Tangerine", cursive; */
  font-weight: 400;
  font-style: normal;
}

/* #Title{
  
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
  
      font-family: "Beau Rivage", serif;
      font-weight: 400;
      font-style:normal;
  
}   */

#about,#technologies, #tech2, #experience, #projects, #contact {
  scroll-margin-top: 80px;
}
  
